[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "LaMa"]
	path = LaMa
	url = https://github.com/janolefi/lama
[submodule "RTMBdist"]
	path = RTMBdist
	url = https://github.com/janolefi/rtmbdist
